.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.contactInfo p {
  margin: 5px 0;
}

.social {
  display: flex;
  align-items: center;
}

.social img {
  width: 30px;
  margin: 0 10px;
}

input {
  margin-left: 20px;
  padding: 5px;
}
